html {
    background-color: rgb(236, 228, 228);
    font-size: 10px;
}

body {
    padding-top: 300px;
    display: block;
    width: 50%;
    min-width: 400px;
    margin: auto;
}

h1 {
    color:rgb(51, 35, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#instruction {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    border: .4rem solid black;
    border-radius: 5rem;
    box-shadow: rgb(75, 52, 2);
}

div.player {
    color:rgb(75, 52, 2);
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}   
button {
    border: .4rem solid rgb(59, 55, 55);
    padding: 5px;
    width: 100px;
    text-align: center;
}

div.score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body > div:nth-child(2) {
    display: block;
    position: relative;
    left: 40%;
}
